@using Dominio
@using Dominio.Entidades
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/favicon.ico?v=1" rel="shortcut icon" type="image/x-icon" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/site")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand pull-left" style="margin-top:-4px;">
                    <img src="/Content/dcic.png" height="28px" />
                </a>
                <a class="navbar-brand" href='@Url.Action("Index", "Home")'>Reservas DCIC</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (User.IsInRole(TipoDeUsuario.Administrador.ToString()))
                    {
                        <li>@Html.ActionLink("Reservas", "Index", "Reservas")</li>
                        <li>@Html.ActionLink("Recursos", "Index", "Recursos")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Mis reservas", "Index", "Reservas")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderSection("featured", required: false)
        @RenderBody()

    </div><!-- /.container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
