@model Presentacion.Models.BusquedaRecursoVM

@{
    ViewBag.Title = "Búsqueda de Recursos";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Búsqueda avanzada de recursos</h3>
        <hr />
    </div>
</div>
@using (Html.BeginForm("Buscar", "Recursos"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12"><legend class="text-center">Criterios</legend></div>
            </div>
            <div class="row">
                <div class="col-md-5">

                    <!-- Codigo -->
                    <div class="form-group">
                        @Html.BootstrapLabelFor(model => model.Codigo)
                        @Html.BootstrapTextBoxFor(model => model.Codigo)
                        @Html.BootstrapValidationMessageFor(model => model.Codigo)
                    </div>

                    <!-- Nombre -->
                    <div class="form-group">
                        @Html.BootstrapLabelFor(model => model.Nombre)
                        @Html.BootstrapTextBoxFor(model => model.Nombre)
                        @Html.BootstrapValidationMessageFor(model => model.Nombre)
                    </div>

                    <!-- Tipo -->
                    <div class="form-group">
                        @Html.Label("Tipo")
                        @Html.BootstrapDropdownListFor(model => model.TipoId, Model.SelectTiposDeRecursos)
                    </div>

                    <!-- Fecha Inicio -->
                    <div class="form-group">
                        <label class="control-label">Inicio disponibilidad</label>
                        @Html.BootstrapTextBoxFor(model => model.Inicio)
                        @Html.BootstrapValidationMessageFor(model => model.Inicio)
                    </div>

                    <!-- Fecha fin -->
                    <div class="form-group">
                        <label class="control-label">Fin disponibilidad</label>
                        @Html.BootstrapTextBoxFor(model => model.Fin)
                        @Html.BootstrapValidationMessageFor(model => model.Fin)
                    </div>

                </div>

                <div class="col-md-7">
                    <!-- Características -->
                    <label>Características</label>
                    <div id="characteristics-container"></div>

                </div>

                <div class="col-md-12">
                    <!-- Boton de busqueda-->
                    <p class="text-center"><a id="default-button" class="btn btn-success" onclick="javascript: ObtenerRecursos('@Url.Action("Buscar")');">Buscar</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <legend class="text-center">Resultados</legend>
            <p id="no-result-message" class="text-center" style="display:none;">
                <strong>No hay resultados que coincidan con los criterios seleccionados</strong>
            </p>
            <table id="resultadoBusqueda" class="table table-hover table-bordered table-striped">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Accion</th>
                </tr>
            </table>
        </div>


    </div>
}

<script type="text/template" id="characteristic-template">

    <div class="caracteristica">
        <div class='form-group'>
            <div class="row">
                <div class="col-md-1">
                    <input name='CaracteristicasTipo' value='{{TipoId}}' type="checkbox">
                </div>
                <div class="col-md-4">
                    <label class="control-label" for='{{CharacteristicName}}'>{{CharacteristicName}}</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="CaracteristicaValor_{{TipoId}}" type='text' name='CaracteristicasValor' disabled />
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="resource-template">
    <tr>
        <td>{{CodigoRecurso}}</td>
        <td>{{NombreRecurso}}</td>
        <td>{{DescripcionRecurso}}</td>
        <td>
            <p>
                @if (ViewContext.HttpContext.Request.QueryString.AllKeys.Contains("ReturnUrl"))
                {
                    <a class="btn btn-primary" href="@(ViewContext.HttpContext.Request.QueryString["ReturnUrl"])/{{Id}}">Reservar</a>
                }
                else
                {
                    <a class="btn btn-primary" href="@(Url.Action("CreateForResource","Reservas"))/{{Id}}">Reservar</a>
                }

                <a class="btn btn-success" href="@(Url.Action("Details","Recursos"))/{{Id}}">Detalles</a>
            </p>
        </td>
    </tr>
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/recursos-utilities.js")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")


    <script type="text/javascript">

        // Obtener todas las caracteristicas y registrar los eventos para habilitarlas y deshabilitarlas
        $(document).ready(
            function() {

                // Initialize datetime pickers
                $('#Inicio').datetimepicker({ format: 'd/m/Y H:i', inline: false });
                $('#Fin').datetimepicker({ format: 'd/m/Y H:i', inline: false });

                // Get all the characteristics
                ObtenerTodasCaracteristicas('@Url.Action("ObtenerTodasCaracteristicas")');

                // Generate characteristics form components
                $.each(tiposDeCaracteristicas, function(i, value) {
                    AddNewCharacteristic(value['Id'], value['Nombre']);
                });

                $("input:checkbox").each(function() {
                    $(this).on('click', function() {
                        $('#CaracteristicaValor_' + this.value).toggleDisabled();
                    });
                });

                // Load all resources at first
                ObtenerRecursos('@Url.Action("Buscar")');

                $(function() {
                    $("form input").keypress(function(e) {
                        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                            $('#default-button').click();
                            return false;
                        }
                        return true;
                    });
                });
            }
        );
    </script>
}
