@model Presentacion.Models.BusquedaRecursoVM

@{
    ViewBag.Title = "Búsqueda de Recursos";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <h2>Búsqueda de Recursos</h2>
        <!-- Codigo -->
        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Codigo)
            @Html.ValidationMessageFor(model => model.Codigo)
        </div>

        <!-- Nombre -->
        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <!-- Tipo -->
        <div class="editor-label">
            @Html.Label("Tipo")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TipoId, Model.SelectTiposDeRecursos)
        </div>

        <!-- Características -->
        <h3>Características</h3>
        <div id="characteristics-container">

        </div>

        <a onclick="javascript: ObtenerRecursos('@Url.Action("Buscar")');">Buscar</a>

        <input type="submit" value="Buscar" />

    </fieldset>

    <div id="resultadoBusqueda">

    </div>
}

<script type="text/template" id="characteristic-template">

    <div class="caracteristica">
        <div class='editor-label'>
            <input name='CaracteristicasTipo' value='{{TipoId}}' type="checkbox">
            <label for='{{CharacteristicName}}'>{{CharacteristicName}}</label>
        </div>

        <div class='editor-field'>
            <input id="CaracteristicaValor_{{TipoId}}" type='text' name='CaracteristicasValor' disabled />
        </div>
    </div>

</script>

<script type="text/template" id="resource-template">
    <div class="recurso">
        <strong>Código: </strong>{{CodigoRecurso}}, <strong>Nombre: </strong>{{NombreRecurso}}
    </div>
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/recursos-utilities.js")

    <script type="text/javascript">
        
        // Obtener todas las caracteristicas y registrar los eventos para habilitarlas y deshabilitarlas
        $(document).ready(
            function() {
                ObtenerTodasCaracteristicas('@Url.Action("ObtenerTodasCaracteristicas")');

                $.each(tiposDeCaracteristicas, function(i, value) {
                    AddNewCharacteristic(value['Id'], value['Nombre']);
                });

                $("input:checkbox").each(function() {
                    console.log(this.value);
                    $(this).on('click', function() {
                        $('#CaracteristicaValor_' + this.value).toggleDisabled();
                    });
                });
            }
        );
    </script>
}
