@model Dominio.Entidades.Recurso

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles del recurso</h2>

<fieldset>
    <legend>Recurso</legend>

    <!-- Codigo -->
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>

    <!-- Nombre -->
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <!-- Tipo -->
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo.Nombre)
    </div>

    <!-- Descripcion -->
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <!-- Caracteristicas -->
    @foreach (var caracteristica in Model.Caracteristicas)
    {
        <div class="display-label">
            @Html.DisplayFor(model => caracteristica.Tipo.Nombre)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => caracteristica.Valor)
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "actionButton littleButton" })
    @Html.ActionLink("Volver al listado", "Index", null, new { @class = "actionButton littleButton" })
</p>
