@model Presentacion.Models.RecursoVM

@{
    ViewBag.Title = "Editar recurso";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Editar recurso</h3>
        <hr />
    </div>
    @using (Html.BeginForm())
    {
        
        @Html.HiddenFor(model => model.Id)
        <div class="col-md-4 col-md-offset-2">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <!-- Codigo -->
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Codigo)
                @Html.BootstrapTextBoxFor(model => model.Codigo)
                @Html.BootstrapValidationMessageFor(model => model.Codigo)
            </div>

            <!-- Nombre -->
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Nombre)
                @Html.BootstrapTextBoxFor(model => model.Nombre)
                @Html.BootstrapValidationMessageFor(model => model.Nombre)
            </div>

            <!-- Tipo -->
            <div class="form-group">
                @Html.Label("Tipo")
                @Html.BootstrapDropdownListFor(model => model.TipoId, Model.SelectTiposDeRecursos)
            </div>

            <!-- Descripcion -->
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Descripcion)
                @Html.BootstrapTextBoxFor(model => model.Descripcion)
                @Html.BootstrapValidationMessageFor(model => model.Descripcion)
            </div>
        </div>
        <div class="col-md-4">
            <!-- Caracteristicas -->
            <div id="characteristics-container">
                @foreach (var tipoCaracteristica in Model.Tipo.TiposDeCaracteristicas)
                {
                    var index = Model.CaracteristicasTipo.IndexOf(tipoCaracteristica.Id.ToString());

                    <div class="form-group">
                        <input name='CaracteristicasTipo' value='@tipoCaracteristica.Id' type="hidden">

                        <label class="control-label">@tipoCaracteristica.Nombre</label>
                        @if (index != -1)
                        {
                            @Html.BootstrapTextBoxFor(model => Model.CaracteristicasValor[index])
                        }
                        else
                        {
                            <input class="form-control" type='text' name='CaracteristicasValor' />
                        }
                    </div>
                }
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">
            <p class="pull-right">
                @Html.BootstrapActionButton("Volver al listado", "Index", new { @class = "btn-default" })
                <button class="btn btn-success" type="submit">Guardar</button>
            </p>
        </div>
    }

</div>

<script type="text/template" id="characteristic-template">
    <div class='form-group'>
        <input name='CaracteristicasTipo' value='{{TipoId}}' type="hidden">
        <label for='{{CharacteristicName}}'>{{CharacteristicName}}</label>
        <input class="form-control" type='text' name='CaracteristicasValor' />
    </div>
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/recursos-utilities.js")

    <script type="text/javascript">
        // Obtener tipos de recursos y registar evento para el cambio de tipo de recurso
        $(document).ready(
            function () {
                ObtenerTiposDeRecursos();

                UpdateCaracteristicasNames();

                $('#TipoId').on('change', CambiarTiposDeRecursos);
            }
        );
    </script>
}
