@model Presentacion.Models.ListadoRecursosVM

@{
    ViewBag.Title = "Recursos";
}

<div class="row">

    <h3 class="text-center">Recursos</h3><hr />
    <div class="col-md-9">

        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.BootstrapActionButton("Crear Recurso", "Create", null, new { @class = "btn-primary" })
                    @Html.BootstrapActionButton("Búsqueda avanzada", "Buscar", null, new { @class = "btn-success" })
                </p>
            </div>
        </div>

        <table class="table table-hover table-bordered table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Codigo", "Index", new { orden = ViewBag.OrdenCodigo })
                </th>
                <th>
                    @Html.ActionLink("Tipo", "Index", new { orden = ViewBag.OrdenTipo })
                </th>
                <th>
                    @Html.ActionLink("Nombre", "Index", new { orden = ViewBag.OrdenNombre })
                </th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model.Recursos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.BootstrapActionButton("Editar", "Edit", new { id = item.Id }, new { @class = "btn-info" })
                        @Html.BootstrapActionButton("Detalle", "Details", new { id = item.Id }, new { @class = "btn-success" })
                        @Html.BootstrapActionButton("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="col-md-3">
        <legend>Filtros</legend>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Código</label>
                @Html.TextBox("filtroCodigo", null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <div><label>Tipo</label></div>
                @Html.DropDownList("filtroTipo", Model.SelectTiposDeRecursos, new {@class="form-control"})
            </div>

            <div class="form-group">
                <label>Nombre</label>
                @Html.TextBox("filtroNombre", null, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-default">Filtrar</button>
        }
    </div>

</div>