@model Presentacion.Models.UsuarioVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreUsuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DNI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DNI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Legajo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Legajo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
