@model Presentacion.Models.UsuarioVM

@{
    ViewBag.Title = "Detalle de usuario";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <legend class="text-center">Detalles del usuario</legend>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <dl class="dl-horizontal">

                    <!-- Nombre de usuario -->
                    <dt>
                        @Html.DisplayName("Nombre de usuario")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NombreUsuario)
                    </dd>

                    <!-- Tipo -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tipo)
                    </dd>

                    <!-- Nombre -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <!-- Apellido -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Apellido)
                    </dd>

                    <!-- DNI -->
                    <dt>
                        @Html.DisplayNameFor(model => model.DNI)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DNI)
                    </dd>

                    <!-- E-mail -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    
                    <!-- Legajo -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Legajo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Legajo)
                    </dd>
                    
                    <!-- Telefono -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                </dl>
                <hr />
            </div>

        </div>
        <div class="row">
            <p class="text-center">
                @Html.BootstrapActionButton("Volver", "Index", null, new { @class = "btn-default" })
                @Html.BootstrapActionButton("Editar", "Edit", new { id = Model.id }, new { @class = "btn-info" })
            </p>
        </div>
    </div>
</div>