@model Presentacion.Models.UsuarioVM

@{
    ViewBag.Title = "Editar usuario";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center">Editar usuario</h3>
        <hr />
    </div>
    @using (Html.BeginForm())
{
    <div class="col-md-3 col-md-offset-3">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.BootstrapLabelFor(model => model.Nombre)
            @Html.BootstrapTextBoxFor(model => model.Nombre)
            @Html.BootstrapValidationMessageFor(model => model.Nombre)
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(model => model.Apellido)
            @Html.BootstrapTextBoxFor(model => model.Apellido)
            @Html.BootstrapValidationMessageFor(model => model.Apellido)
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(model => model.Email)
            @Html.BootstrapTextBoxFor(model => model.Email)
            @Html.BootstrapValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(model => model.DNI)
            @Html.BootstrapTextBoxFor(model => model.DNI)
            @Html.BootstrapValidationMessageFor(model => model.DNI)
        </div>
    </div>

    <div class="col-md-3">

        <div class="form-group">
            @Html.BootstrapLabelFor(model => model.Legajo)
            @Html.BootstrapTextBoxFor(model => model.Legajo)
            @Html.BootstrapValidationMessageFor(model => model.Legajo)
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(model => model.Telefono)
            @Html.BootstrapTextBoxFor(model => model.Telefono)
            @Html.BootstrapValidationMessageFor(model => model.Telefono)
        </div>

        <div class="form-group">
            @Html.Label("Tipo")
            @Html.BootstrapDropdownListFor(model => model.Tipo, Model.SelectoTipoDeUsuario)
        </div>
    </div>

        <div class="col-md-6 col-md-offset-3">
            <p class="pull-right">
                @Html.BootstrapActionButton("Volver al listado", "Index", new { @class = "btn-default" })
                <button class="btn btn-success" type="submit">Guardar</button>
            </p>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
