@model Presentacion.Models.ListaUsuariosVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    
    <p>
        Buscar por Nombre: 
        @Html.TextBoxFor(model => model.Nombre)
    </p>
    <p>
        Buscar por Apellido: 
        @Html.TextBoxFor(model => model.Apellido)
    </p>
    <p>
        Buscar por Legajo: 
        @Html.TextBoxFor(model => model.Legajo)
    </p>
    <input type="submit" value="Buscar" />
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            DNI
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Legajo)
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListaUsuario) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Legajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @if (item.EstadoUsuario != Dominio.EstadoUsuario.Inactivo)
            {
                string accion = Model.ObtenerAccionBloquear(item.Id);
                @Html.ActionLink(accion, accion, new { id = item.Id })
            }

        </td>
    </tr>
}

</table>
