@using Dominio
@model Presentacion.Models.ReservaVM
@{
    ViewBag.Title = "Crear reserva";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Crear reserva</h2>
        <hr />
    </div>
    @using (Html.BeginForm("Create", "Reservas", FormMethod.Post))
    {
        <div class="col-md-4 col-md-offset-4">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <!-- Usuario responsable -->
            @if (User.IsInRole(TipoDeUsuario.Administrador.ToString()))
            {
                <div class="form-group">
                    <label class="control-label">Usuario responsable</label>
                    @Html.BootstrapTextBoxFor(model => model.Responsable)
                    @Html.BootstrapValidationMessageFor(model => model.Responsable)
                </div>
            }
            <!-- Codigo del recurso -->
            <div class="form-group">
                <label class="control-label"> Codigo del recurso</label>
                <div class="row">
                    <div class="col-md-7">
                        @Html.BootstrapTextBoxFor(model => model.RecursoReservado)
                        @Html.BootstrapValidationMessageFor(model => model.RecursoReservado)
                    </div>
                    <div class="col-md-5">
                        @Html.BootstrapActionButton("Buscar recurso", "Buscar", "Recursos", null, new { @class = "btn-info" })
                    </div>
                </div>
            </div>

            <!-- Inicio reserva -->
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Inicio)
                @Html.BootstrapTextBoxFor(model => model.Inicio)
                @Html.BootstrapValidationMessageFor(model => model.Inicio)
            </div>

            <!-- Fin reserva-->
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Fin)
                @Html.BootstrapTextBoxFor(model => model.Fin)
                @Html.BootstrapValidationMessageFor(model => model.Fin)
            </div>

            <!-- Descripcion -->
            <div class="form-group">
                @Html.BootstrapLabelFor(model => model.Descripcion)
                @Html.BootstrapTextBoxFor(model => model.Descripcion)
                @Html.BootstrapValidationMessageFor(model => model.Descripcion)
            </div>

            <!-- Submit -->
            <div class="col-md-12">
                <p class="pull-right">
                    @Html.BootstrapActionButton("Volver al listado", "Index", new { @class = "btn-default" })
                    <button class="btn btn-success" type="submit">Crear reserva</button>
                </p>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        $(function () {
            $('#Inicio').datetimepicker({ format: 'm/d/Y H:i', inline: false });
            $('#Fin').datetimepicker({ format: 'm/d/Y H:i', inline: false });
        });
    </script>
}
