@model Presentacion.Models.ReservaVM

@{
    ViewBag.Title = "Detalle de reserva";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <legend class="text-center">Detalles de la reserva</legend>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <dl class="dl-horizontal">

                    <!-- Creador -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Responsable)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Responsable)
                    </dd>

                    <!-- Recurso reservado -->
                    <dt>
                        @Html.DisplayName("Recurso reservado")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.RecursoReservado)
                    </dd>

                    <!-- Inicio -->
                    <dt>
                        @Html.DisplayName("Inicio de reserva")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Inicio)
                    </dd>

                    <!-- Fin -->
                    <dt>
                        @Html.DisplayName("Fin de reserva")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Fin)
                    </dd>

                    <!-- Tipo -->
                    <dt>
                        @Html.DisplayName("Fecha de creación")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </dd>

                    <!-- Descripcion -->
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>
                </dl>
                <hr />
            </div>

        </div>
        <div class="row">
            <p class="text-center">
                @Html.BootstrapActionButton("Volver", "Index", null, new { @class = "btn-default" })
                @Html.BootstrapActionButton("Editar", "Edit", new { id = Model.Id }, new { @class = "btn-info" })
            </p>
        </div>
    </div>
</div>