@using System.Web.Script.Serialization
@model Presentacion.Models.BusquedaReservasVM
@{
    ViewBag.Title = "Todas las reservas";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Todas las reservas</h3><hr />
    </div>
    <div class="col-md-9">
        @if (Model.ListaDeReservas.Any())
        {
            <table id="vistaTabla" class="table table-hover table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayName("Inicio reserva")
                    </th>
                    <th>
                        @Html.DisplayName("Fin reserva")
                    </th>
                    <th>
                        @Html.DisplayName("Recurso")
                    </th>
                    <th>
                        @Html.DisplayName("Usuario")
                    </th>
                    <th>
                        @Html.DisplayName("Estado")
                    </th>
                    <th>
                        @Html.DisplayName("Descripción")
                    </th>
                    <th>Acciones</th>
                </tr>

                @foreach (var item in Model.ListaDeReservas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecursoReservado)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Responsable)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.BootstrapActionButton("Editar", "Edit", new { id = item.Id }, new { @class = "btn-info btn-xs" })
                            @Html.BootstrapActionButton("Detalle", "Details", new { id = item.Id }, new { @class = "btn-success btn-xs" })
                            @Html.BootstrapActionButton("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <br /><h4>Aún no hay reservas</h4>
        }
        <div id="calendar" style="visibility:hidden;"></div>
    </div>

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <p><button id="toggleViewButton" class="btn btn-success">Cambiar visualización</button></p>
            </div>
        </div>
        <legend>Filtros</legend>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Fecha desde</label>
                @Html.TextBox("fechaDesde", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Fecha hasta</label>
                @Html.TextBox("fechaHasta", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Recurso</label>
                <div class="ui-widget">
                    @Html.DropDownList("codigoRecurso", Model.SelectRecursos, new { id = "selectRecursos", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label>Usuario responsable</label>
                @Html.DropDownList("usuarioResponsable", Model.SelectUsuarios, new { id = "selectUsuarios", @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Estado de reserva</label>
                @Html.DropDownList("estadoReserva", Model.SelectEstadoReserva, new { @class = "form-control" })
            </div>
            <button class="btn btn-default" type="submit">Filtrar</button>
        }
    </div>
</div>

@section Scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/calendar")

    <script type="text/javascript">

        $(function() {
            $("[name='fechaDesde']").datetimepicker({ format: 'd/m/Y H:i', inline: false });
            $("[name='fechaHasta']").datetimepicker({ format: 'd/m/Y H:i', inline: false });


            $('#selectRecursos').selectize({
                sortField: 'text',
                create: true,
                createOnBlur: true
            });

            $('#selectUsuarios').selectize({
                sortField: 'text',
                create: true,
                createOnBlur: true
            });

            var data = @Html.Raw(new JavaScriptSerializer().Serialize(Model.ListaDeReservas.Select(reserva =>
                        new{
                            title = reserva.RecursoReservado + " - " + reserva.Responsable,
                            start = reserva.Inicio,
                            fin = reserva.Fin,
                            url = Url.Action("Details", "Reservas", new {id = reserva.Id})
                        }
                    )));

            $('#calendar').fullCalendar('addEventSource', data);

            $('#toggleViewButton').click(ToggleReservasView);

            LoadCurrentView();
        });
    </script>
}