@using Dominio.Entidades
@model IEnumerable<Presentacion.Models.ReservaVM>

@{
    ViewBag.Title = "Mis reservas";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Mis reservas</h3><hr />
        <p>
            @Html.BootstrapActionButton("Crear reserva", "Create", new { @class = "btn-primary"})
            @if (User.IsInRole(TipoDeUsuario.Administrador.ToString()))
            {
                @Html.BootstrapActionButton("Ver todas las reservas", "FullList", new {@class = "btn-success"})
            }
        </p>
    </div>
    
    <div class="col-md-12">
        @if (Model.Any())
        {
            <table class="table table-hover table-bordered table-striped">
                <tr>
                    <th>
                        Inicio de reserva
                    </th>
                    <th>
                        Fin de reserva
                    </th>
                    <th>
                        Recurso reservado
                    </th>
                    <th>
                        Estado de reserva
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>Acciones</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RecursoReservado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.BootstrapActionButton("Editar", "Edit", new {id = item.Id}, new {@class = "btn-info"})
                            @Html.BootstrapActionButton("Ver Detalle", "Details", new { id = item.Id }, new { @class = "btn-success" })
                            @Html.BootstrapActionButton("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn-danger" })
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <br/><h4>Aún no hay reservas</h4>
        }
    </div>
</div>

