@model Presentacion.Models.ReservasSearchContainer
@{
    ViewBag.Title = "ListAndSearch";
}
@using (Html.BeginForm())
{
    <p> Buscar por Fecha:</p>
    <p> Fecha desde 
        @Html.TextBox("fecha_desde")
    </p>
    <p> Fecha hasta
        @Html.TextBox("fecha_hasta")
    </p>
    <p>
        Buscar por Recurso:
        @Html.DropDownList("tipo_recurso", Model.getResources());
    </p>
    <p>
        Buscar por usuario responsable:
        @Html.TextBox("usuario_responsable")
    </p>
    <p>
        Buscar por estado de reserva:
        @Html.DropDownList("estado_reserva", Model.getStatesResources());
    </p>
    <input type="submit" value="Buscar" />
}
@if(Model.list.Count == 0)
    <p>No hay reservas a mostrar</p>
@if (Model.list.Count > 0)
{
    <table>
        <tr>
            <th>
                @Html.DisplayName("Fecha de inicio")
            </th>
            <th>
                @Html.DisplayName("Fecha de fin")
            </th>
            <th>
                @Html.DisplayName("Recurso reservado")
            </th>
            <th>
                @Html.DisplayName("Usuario Responsable")
            </th>
            <th>
                @Html.DisplayName("Estado Recurso")
            </th>
            <th>
                @Html.DisplayName("Descripción")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecursoReservado.Nombre)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Responsable.NombreUsuario)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
