@model Presentacion.Models.LocalPasswordModel
@{
    ViewBag.Title = "Administrar cuenta";
}
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Administrar cuenta</h3>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p>@ViewBag.StatusMessage</p>

        <p>Has iniciado sesión como <strong>@User.Identity.Name</strong>.</p>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
